/vendor/
/node_modules/
/.env
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/public/hot
/public/storage
/.idea/
/.vscode/
*.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
